extends layout

block content
	div.jumbotron
		h2= title
		
		p.lead
			| El Chichén Iztá (En maya “La boca del pozo de los Itzá“) es una de las 7 nuevas maravillas del mundo localizada en México, 
			| en el municipio de Tinum, estado de Yucatán. Esta construcción arqueológica, construida por la civilzación maya en el siglo 
			| VI d.C., fue la ciudad ceremonial, militar y política más importante del Yucatán.
			
		a(class="btn btn-large btn-success", href="http://farm8.staticflickr.com/7001/6445194057_69177864bd.jpg") Ver imagen DEL CHICHÉN ITZÁ