extends layout

block content
	div.jumbotron
		h2= title
		
		p.lead
			| La Gran Muralla China (En chino tradicional “Larga fortaleza“) es una de las nuevas sietes maravillas 
			| del mundo localizada en China, entre la frontera con Corea del Norte y el desierto de Gobi China-Mongolia
			| Esta antigua fortificación China de 8 850 kilómetros de largo fue construida en el siglo V a.C. para proteger
			| el imperio chino de los continuos ataques mongoles y manchúes.
		a(class="btn btn-large btn-success", href="http://farm1.staticflickr.com/130/393171479_d2f7c20d2b.jpg") Ver imagen de la Muralla China