extends layout

block content
	div.jumbotron
		h2= title
		
		p.lead
			| Machu Picchu (En quechua “Montaña vieja“) es una de las 7 nuevas maravillas del mundo localizada en Perú, 
			| en el Departamento del Curzo, en la provincia de Urubamba.
			| Este antiguo poblado andino fue construido en el siglo XV como residencia de descanso y santuario religioso.
			| Actualmente es Patrimonio de la Humanidad por la UNESCO y el destino turístico más visitado de Perú.
		a(class="btn btn-large btn-success", href="http://farm1.staticflickr.com/99/250696824_11887858be.jpg") Ver imagen DE MACHU PICCHU