extends layout

block content
	div.jumbotron
		h2= title
		
		p.lead
			| Petra (Del griego πέτρα “Piedra“) es una de las 7 nuevas maravillas del mundo localizada en Jordania, entre el Mar Muerto y el Golfo de Aqaaba.
			| Esta “ciudad perdida” y enclave arqueológico fue habitada en el Paleolítico, 10 000 años antes de Cristo. Desde entonces ha sido hogar de distintas
			| civilizaciones, entre las que destacan los Nabateos.
			| 
		a(class="btn btn-large btn-success", href="http://farm3.staticflickr.com/2106/5748356313_e3d389c8d4.jpg") Ver imagen DE PETRA