extends layout

block content
	div.jumbotron
		h2= title
		
		p.lead
			| La segunda maravilla del mundo el Coliseo de Roma
			| es una de las 7 maravillas modernas del mundo localizada en Italia, 
			| en el corazón de Roma: la plaza del Coliseo.
			| Este anfiteatro romano fue construido en el siglo I con motivo de 
			| entretener al pueblo romano con una gran variedad de exhibiciones, entre las que destacan 
			| las famosas peleas de gladiadores.
		a(class="btn btn-large btn-success", href="	http://farm4.staticflickr.com/3473/3994165348_0467d0ef46.jpg") Ver imagen del coliseo de Roma