extends layout

block content
	div.jumbotron
		h2= title
		
		p.lead
			| El Cristo Redentor (También conocido como Cristo de Corcovado) es una de las 7 nuevas maravillas del mundo localizada en Brasil,
			| en la ciudad de Río de Janerio, en la cima del cerro del Corcovado (Parque Nacional de la Tijuca).
			| Esta estatua de Jesús de Nazaret de 38 metros de altura fue construida en el primer tercio del siglo XX e inaugurada el 12 de octubre de 1931 
			| en conmemoración del centenario de la independencia de Brasil.
		a(class="btn btn-large btn-success", href="http://farm3.staticflickr.com/2567/4110074449_f8d85aeabf.jpg") Ver imagen DEL CRISTO REDENTOR