extends layout

block content
	div.jumbotron
		h2= title
		
		p.lead
			| La primer maravilla es el  Taj Mahal es una de las siete nuevas maravillas del mundo 
			| localizada en la India, Este complejo arquitectónico funerario fue construido a mediados 
			| del siglo XVII (1631 – 1656) por el emperador Sha Jahan en ofrenda póstuma a su difunta 
			| esposa Arjumand Bano Begum, conocida popularmente como Mumtaz Mahal.
		a(class="btn btn-large btn-success", href="http://farm2.staticflickr.com/1129/1352093343_79dac6497b.jpg ") Ver imagen de Taj Mahal