div.masthead
	h3.muted Las 7 maravillas del mundo
	div.navbar
		div.navbar-inner
			div.container
				ul.nav
					li.active: a(href='#') Inicio
					li: a(href='/services') Maravilla 1
					li: a(href='/maravilla2') Maravilla 2
					li: a(href='/maravilla3') Maravilla 3
					li: a(href='/maravilla4') Maravilla 4
					li: a(href='/maravilla5') Maravilla 5
					li: a(href='/maravilla6') Maravilla 6
					li: a(href='/maravilla7') Maravilla 7